.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.left{
    width: 250px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.top{
    width: 250px;
    height: 150px;
    background-color: #0093b7;
}

.bottom{
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}

.right2{
    width: 150px;
    height: 150px;
    float: right;
    background-color: #ff9e6b;
}
/* 下地 */
.left2{    display: flex;
    flex-direction: column;
    width: 100px;
    height: 150px;
    float: left;
    background-color: #dbd403;
}

.top2{
    /* margin-bottom: 100px; */
    width: 150px;
    height: 50px;
    background-color: #8c2727;
}

.bottom2{
    width: 150px;
    height: 100px;
    background-color: #ff9e6b;
}



.hooter{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}